<!DOCTYPE html>
<html>
<body class="bg-azul-claro h-screen justify-center items-center m-auto">


<nav class="bg-azul-escuro">
  <div class="mx-auto max-w-7xl px-2 lg:px-8">
    <div class="relative flex h-16 items-center justify-center">
      <div class="flex flex-1 items-center justify-center">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="./assets/personagem/moveRight.png" alt="Your Company">
        </div>
        <div class="">
          <div class="flex space-x-4">
            <span class="text-white rounded-md px-3 py-2 text-sm font-medium text-3xl" aria-current="page">PAC-CODE</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="flex items-center justify-center h-3/4">
  <div class="grid grid-cols-2 bg-white gap-1.5 rounded-lg p-10 flex flex-col justify-center items-center">

    <button class="bg-azul-escuro col-span-2 font-bold text-white p-1 rounded-lg hover:bg-azul-claro hover:text-azul-escuro hover:animate-pulse" (click)="onGame()">Iniciar</button>
    <button class="bg-azul-escuro font-bold text-white p-1 rounded-lg hover:bg-azul-claro hover:text-azul-escuro hover:animate-pulse">Configurações</button>
    <button class="bg-azul-escuro font-bold text-white p-1 rounded-lg hover:bg-azul-claro hover:text-azul-escuro hover:animate-pulse">Créditos</button>

  </div>
</div>



</body>
</html>
